* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url("../img/war-bg.jpg") no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 2em;
}

.content {
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 100%;
    margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0,0,0,0.5) ;
}

.keycap {
    padding: 20px 12px 20px 12px;
    border: 1px solid white;
    border-radius: 8px;
}

.credit {
    bottom: .5em;
    right: .5em;
    position: fixed;
    /* background: rgba(255,0,0,0.1); */
    text-align: right;
    font-size: .5em;
    font-weight: 400;
    color: #999
}
a {
    text-decoration: none;
    color: #ccc;
}
a:visited {
    color: #ccc;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 2em;
    /* text-align: center; */
    /* display: block; */
    /* margin: 0 auto; */
}

.card {
    width: 4em;
    height: 6em;
    font-size: 1em;
    border: .2em solid white;
    border-radius: .2em;
    text-align: center;
    float: left;
    margin: .1em;
}

#playerScore {
    float: left;
    margin-right: .4em;
}
#aiScore {
    float: right;
    margin-left: .4em;
}
/* .card2 {
    width: 4em;
    height: 6em;
    font-size: 1em;
    border: .1em solid white;
    border-radius: .2em;
    text-align: center;
    float: right;
    margin: .1em;
} */